*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}

header{
    color: white;
    height: 70vh;
    background-color: #1F2937;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15vw;
    flex-wrap: wrap;
}

header nav .logo{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

header nav ul a{
    size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li{
    display: inline-block;
    margin-left: 30px;
}

header .sign-in-area{
    padding: 100px 10%;
    display: flex;
    align-items: center;
    gap: 40px;
}

header .text-container{
    width: calc(50%);
}

header h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

header p{
    font-size: 18px;
    color: #E5E7EB;
}

header .custom-button{
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    margin-top: 20px;
}

header .sign-in-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #656b76;
    width: calc(50%);
    margin-left: 80px;
    height: 250px;
}

.info-section{
    width: 100%;
    padding: 60px 0;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.info-section h2{
    padding-top: 30px;
    width: 100%;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-section .imgs-container{
    padding: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imgs-container .img-block{
    width: 25%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-block .info-img{
    height: 170px;
    width: 170px;
    padding-bottom: 10px;
    border-radius: 30px;
    border: #3882F6 4px solid;
}

.imgs-container p{
    margin-top: 10px;
    font-size: 18px;
    color: #585a5f;
}

.testimonial{
    background-color: #E5E7EB;
}

.testimonial .testimonial-container{
    padding: 100px 25%;
}

.testimonial h2{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.testimonial p{
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

.call{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.call .call-container{
    display: flex;
    justify-content: center;
    margin: 100px 15%;
    width: 90%;
    padding: 50px 100px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
}

.call .call-text{
    width: 80%;
}

.call-text h2{
    font-size: 24px;
    color: #F9FAF8;
}

.call-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.call .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.call .button-container button{
    background-color: #3882F6;
    width: 75%;
    height: 80%;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 20px;
}

.button-container button a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: #1F2937;
}

footer .p-container{
    display: flex;
    padding: 50px 20%;
    justify-content: center;
}

footer p{
    font-size: 18px;
    color: #E5E7EB;
}

@media (max-width: 1030px) {
    .imgs-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 0 10%;
    }

    .imgs-container .img-block {
        width: 40%;
        padding: 20px;
    }

    .img-block .info-img {
        width: 100px;
        height: 100px;
    }
}


@media (max-width: 900px) {
    header nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        display: none;
    }

    header nav ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    header nav li{
        margin-left: 0;
    }

    header .sign-in-area{
        flex-direction: column;
        padding: 60px 5%;
        text-align: center;
    }

    header .text-container,
    header .sign-in-img{
        width: 100%;
        margin-left: 0;
    }

    header .sign-in-img {
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        margin-top: 30px;
    }


    .info-section{
        height: auto;
        padding: 40px 5%
    }

    .info-section h2{
        font-size: 28px;
    }

    .info-section .imgs-container{
        flex-direction: column;
        padding: 0;
    }

    .imgs-container .img-block{
        width: 100%;
        padding: 20px 0;
    }

    .img-block .info-img{
        height: 120px;
        width: 120px;
    }

    .imgs-container p{
        font-size: 16px;
    }

    .call .call-container{
        height: auto;
        margin: 100px 2%;
        flex-direction: column;
    }

    .call .button-container{
        margin-top: 10px;
        display: block;
        width: 50%;
    }
}